/*
Title : Tulips
Author: Rachmad S.B.
Author URI: http://www.rchinfo.cf/
Version: 0.1
*/

/*keseluruhan*/
#main {max-width: 100%;margin:auto;padding:10px;text-rendering: optimizeLegibility;}
body {font-family:sans-serif;font-size:14px;line-height:1.71428572;color:#333;overflow-x:hidden;position:relative;min-height:100vh;background-color:#efefef;}
img {width:100%;height:auto;display:block;}
a {color:#87CEEB;text-decoration:none;}
a:hover,a:focus {color:#ff9800;text-decoration:none;}
a:focus {outline:0;}
ul,li {list-style: none;margin:0;padding:0;}
:focus {outline: none;}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {font-weight:400;letter-spacing:1px;text-rendering:optimizelegibility;}
b, strong {font-weight: 500;}

/*bungkus*/
* {box-sizing:border-box;}
.row::after {content:"";clear:both;display:block;}
[class*="col-"] {float:left;padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*pilihan*/
.pilihan ul {list-style-type: none;margin: 0;padding: 0;width: 100%;background-color: #f1f1f1;position: fixed;overflow: hidden;top: 0;}
.pilihan li {float: left;}
.pilihan li a {display: block;color: #000;padding: 8px 16px;text-align:center;text-decoration: none;}
.pilihan li a.active {background-color: #4CAF50;color: white;}
.pilihan li a:hover:not(.active) {background-color: #555;color: white;}

/*tentang*/
.tentang {float: left;background-color: #1894ca;text-rendering: optimizelegibility;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tentang img {max-width: 100%;height:auto;border-radius:50%;background-position-y: center;background-position-x: center;background-repeat: no-repeat;background-size: cover;margin: 0 auto;top: 0;left: 0;right: 0;bottom: 0;}

/*portofolio*/
.porto {text-rendering: optimizelegibility;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.porto img {max-width: 100%;height:auto;border-radius:50%;background-position-y: center;background-position-x: center;background-repeat: no-repeat;background-size: cover;margin: 0 auto;top: 0;left: 0;right: 0;bottom: 0;}

/*kolom*/
.kolom {float: left;font-size: 16px;font-weight: 500;max-width: 100%;margin: 5px auto;padding: 15px;background-color: rgba(0, 0, 0, 0.04);text-rendering: optimizelegibility;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.kolom li strong {display: block;letter-spacing: 2px;text-transform: uppercase;margin: 0;padding: 0;}
.kolom li a {display: block;color: currentColor;color: #ff4500;}
.kolom li a:hover,.kolom li a:focus {color: #ff9800;}
.kolom li span {display: block;margin: 0 auto;padding: 5px inherit;}

/*kemampuan*/
.kemampuan {width:100%;}
.proses {height:0;border:0;border-radius: 9px;}
.proses span {color:#fff!important;text-align:left;padding-left: 9px;}
.biru-cerah {color:#000!important;background-color:rgb(255, 251, 204);!important}

/*formulir*/
.formulir input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=time], input[type=date], select {
width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;text-rendering: optimizelegibility;}
.formulir textarea {width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;resize: none;text-rendering: optimizelegibility;}
.formulir input[type=submit] {width: 100%;background-color: #1894ca;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;}
.formulir input[type=submit]:hover {background-color: #0099cc;}
.formulir div {border-radius: 5px;background-color: #f2f2f2;padding: 20px;}
.formulir p {font-family:sans-serif;font-size:14px;line-height:1.71428572;color:#333;overflow-x:hidden;text-rendering: optimizelegibility;}

/*bawahan*/
.bawahan {background-color: rgba(0, 0, 0, 0.04);color: #333;text-align: center;font-size: 12px;padding: 15px inherit;text-rendering: optimizelegibility;font-size: 16px;}

/*sns*/
.sns {list-style-type: none;margin: 0;padding: 0;width: 100%;overflow: hidden;}
.sns img {max-width: 70px;margin-right: 10px;margin-bottom: 10px;}
.sns li {float: left;}

/*mobile*/
@media only screen and (max-width: 768px) {[class*="col-"] {width: 100%;}}
